/* Google fontes link import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800;900&display=swap');

/* Reset margin e padding*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* definindo cores Variaies */
:root {
  --primary: #fff;
  --secondary: #36454f;
  --textcolor: #ff2400;
}

.switch {
  --primary: #36454f;
  --secondary: #fff;
  --textcolor: #ff2400;
}

/* Contaniner */
.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary);
  overflow: hidden;
}

.container nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  z-index: 222;
}

.logo {
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  color: var(--secondary);
}

.logo b {
  color: var(--textcolor);
}

ul {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: right;
  margin-right: 100px;
}

ul li {
  margin: 0 20px;
}

ul li a {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1;
  color: var(--secondary);
}

ul li a:hover {
  color: var(--textcolor);
}

.row {
  position: relative;
  display: flex;
  width: 100%;
  /*height: 100vh;*/
  height: calc(100vh - 116px);
}

.cols {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.textdata h2 {
  margin-top: 30px;
  font-size: 2em;
  font-weight: 600;
  color: var(--secondary);
  z-index: 1111;
}

.textdata h2 span {
  color: var(--textcolor);
  font-weight: 900;
  /*z-index: 900;*/
}

.textdata h3 {
  font-size: 1.8em;
  font-weight: 400;
  color: var(--secondary);
  margin: 12px 0;
}

.textdata p {
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary);
  margin: 12px 0;
}

.textdata .btn {
  width: 100%;
  margin-top: 20px;
}

.btn button {
  border: none;
  background: var(--textcolor);
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 10px 30px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 80px;
}

.btn button:hover {
  transition: 0.3s ease;
  padding: 10px 40px;
}

.sociallinks {
  position: absolute;
  bottom: 30px;
}

.sociallinks i {
  font-size: 1.5em;
  margin: 0 20px;
  cursor: pointer;
  color: var(--secondary);
  transition: 0.2s ease;
}

.sociallinks i:hover {
  font-size: 2em;
  color: var(--textcolor);
}

.imagedata {
  overflow: hidden;
}

.imgbox {
  position: relative;
  width: 800px;
  top: -50px;
  z-index: 1;
  transition: 0.3s ease;
}

.imgbox img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.imagedata:hover .imgbox {
  transform: translateX(-18px);
}

.imagedata .pattern {
  position: absolute;
  background: url('./assets/images/pattern.png');
  height: 100%;
  width: 50%;
  background-color: cover;
  right: 40px;
  top: 50px;
  transition: 0.3s ease;
}

.imagedata:hover .pattern {
  transform: translate(20px-10px) scale(0.95);
}

.toggleSwitch {
  position: relative;
}

.toggleSwitch .fa {
  position: absolute;
  font-size: 28px;
  margin-top: 38px;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
  cursor: pointer;
}

.fa-sun {
  display: none;
  color: #fff;
}

.switch .fa-sun {
  display: block;
}

.switch .fa-moon {
  display: none;
}
